<link rel="stylesheet" href="compare/compare.css">
<div class="background-container">
    <div class="site-width" ng-controller="CompareCtrl">
        <div class="choose-text">
            You can choose what cities you want to compare. Please, enter the city names in the folowing boxes:
        </div>
        <div class="city-container">
            <div class="input-container">
                <input class="input-field" type="text" placeholder="Choose the first city..." ng-model="firstCity">
                <img src="../assets/search.svg" class="search-icon" ng-click="showInfo(firstCity)">
            </div>
        </div>
        <div class="city-container">
            <div class="input-container">
                <input class="input-field" type="text" placeholder="Choose the second city..." ng-model="secondCity">
                <img src="../assets/search.svg" class="search-icon" ng-click="showInfo(secondCity)">
            </div>
        </div>
    </div>
</div>
