<link rel="stylesheet" href="details/details.css">
<div ng-controller="DetailsCtrl">
    <div ng-if="$ctrl.enableDetails" class="weatherDetails">
        <div class="list-row">
            <div class="list-label">Country:</div>
            <div class="list-detail">{{$ctrl.weatherDetails.country}}</div>
        </div>
        <div class="list-row">
            <div class="list-label">Latitude:</div>
            <div class="list-detail">{{$ctrl.weatherDetails.lat}}</div>
        </div>
        <div class="list-row">
            <div class="list-label">Longitude:</div>
            <div class="list-detail">{{$ctrl.weatherDetails.lon}}</div>
        </div>
        <div class="list-row">
            <div class="list-label">Humidity:</div>
            <div class="list-detail">{{$ctrl.weatherDetails.humidity}}</div>
        </div>
        <div class="list-row">
            <div class="list-label">Pressure:</div>
            <div class="list-detail">{{$ctrl.weatherDetails.pressure}}</div>
        </div>
        <div class="list-row">
            <div class="list-label">Temperature:</div>
            <div class="list-detail">{{$ctrl.weatherDetails.temp}}</div>
        </div>
        <div class="list-row">
            <div class="list-label">Max temperature:</div>
            <div class="list-detail">{{$ctrl.weatherDetails.temp_max}}</div>
        </div>
        <div class="list-row">
            <div class="list-label">Min temperature:</div>
            <div class="list-detail">{{$ctrl.weatherDetails.temp_min}}</div>
        </div>
        <div class="list-row">
            <div class="list-label">Pressure:</div>
            <div class="list-detail">{{$ctrl.weatherDetails.pressure}}</div>
        </div>
        <div class="list-row">
            <div class="list-label">Visibility:</div>
            <div class="list-detail">{{$ctrl.weatherDetails.visibility}}</div>
        </div>
        <div class="list-row">
            <div class="list-label">Sunrise:</div>
            <div class="list-detail">{{$ctrl.weatherDetails.sunrise}}</div>
        </div>
        <div class="list-row">
            <div class="list-label">Sunset:</div>
            <div class="list-detail">{{$ctrl.weatherDetails.sunset}}</div>
        </div>
        <div class="list-row">
            <div class="list-label">Description:</div>
            <div class="list-detail">{{$ctrl.weatherDetails.description}}</div>
        </div>
        <div class="list-row">
            <div class="list-label">Main:</div>
            <div class="list-detail">{{$ctrl.weatherDetails.main}}</div>
        </div>
        <div class="list-row">
            <div class="list-label">Wind speed:</div>
            <div class="list-detail">{{$ctrl.weatherDetails.windSpeed}}</div>
        </div>
        <div class="list-row">
            <div class="list-label">Wind degree:</div>
            <div class="list-detail">{{$ctrl.weatherDetails.windDeg}}</div>
        </div>
    </div>
    <div class="err-message" ng-if="$ctrl.enableError">{{$ctrl.errMessage}}</div>
</div>