html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.site-width {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.header-container {
  height: 100px;
  position: relative;
}

.logo {
  height: 100px;
  position: absolute;
  left: 0;
}

.menu-container {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 37px;
}

a {
  color: black !important;
}

a:hover {
  text-decoration: none !important;
  color: #3da5d1 !important;
}

.active {
  color: #3da5d1 !important;
}

.menu-button {
  font-size: 20px;
  padding-left: 48px;
  font-weight: 500;
}

header {
  border-bottom: 1px solid #dae0e7;
  box-shadow: 0.5px 0.5px #dae0e7;
}
