header {
    border-bottom: 1px solid #dae0e7;
    box-shadow: 0.5px 0.5px #dae0e7;
    background-color: white;
}


.header-container {
    height: 100px;
    position: relative;
}
  
.logo {
    height: 100px;
    position: absolute;
    left: 0;
}
  
.menu-container {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 37px;
}
  
a {
    color: black !important;
    text-decoration: none !important;
}
  
.active {
    color: #3da5d1 !important;
}
  
.menu-button {
    font-size: 20px;
    padding-left: 48px;
    font-weight: 500;
}

.logout-button {
    background-color: white;
    border: none;
}

.logout-button:hover {
    text-decoration: underline;
}

button:focus {
    outline:0;
}
