<link rel="stylesheet" href="../login-register.css">
<link rel="stylesheet" href="register/register.css">
<div class="user-container" ng-controller="RegisterCtrl as ctrl">
    <img class="user-icon" src="../assets/user.jpg">
    <div class="title">Welcome to Register</div>
    <form class="form-container" ng-submit="ctrl.registerUser()">
        <input class="input-field" type="email" placeholder="Email" ng-model="ctrl.user.email" required>
        <input class="input-field" type="text" placeholder="Username" ng-model="ctrl.user.username" required>
        <input class="input-field" type="password" placeholder="Password" ng-model="ctrl.user.password" required>
        <input class="input-field" type="password" placeholder="Confirm Password" ng-model="ctrl.user.confirmPass" required>
        <div id="negative-feedback-register">{{ctrl.messageError}}</div>
        <button type="submit" class="submit-button register-button">REGISTER</button>
    </form>
    <span>Do you already have an account?<a href="#!/login" class="redirect-button">Log in now</div></span>
</div>